layout {
    tab name="dev" {
        pane split_direction="vertical" {
            pane size="60%" command="hx"
            pane split_direction="horizontal" {
                pane command="claude" {
                    args "--dangerously-skip-permissions"
                }
                pane
            }
        }
    }
    swap_floating_layout {
        floating_panes {
            pane x="5%" y="5%" width="90%" height="90%"
        }
    }
}
