keybinds clear-defaults=true {
    shared {
        bind "Alt h" { MoveFocusOrTab "Left"; }
        bind "Alt l" { MoveFocusOrTab "Right"; }
        bind "Alt k" { MoveFocus "Up"; }
        bind "Alt j" { MoveFocus "Down"; }
        bind "Alt x" { CloseFocus; }
        bind "Alt f" { ToggleFocusFullscreen; }
        bind "Alt q" { Quit; }
        bind "Alt d" { Detach; }
        bind "Alt y" {
            Run "yazi" {
                floating true
                close_on_exit true
            }
        }
        bind "Alt g" {
            Run "sh" {
                args "-c" "{ jj log --no-graph -r @ --stat; echo; jj diff; } | less -R"
                floating true
                close_on_exit true
            }
        }
        bind "Alt t" {
            Run "zsh" {
                floating true
                close_on_exit true
            }
        }
    }
}

pane_frames false
default_layout "dev"
